body
{
    background-color: #C3B7F1;
    margin:0px
}

nav
{
    text-align: center;
    background-color: #6A219C;
    font-size: xx-large;
    width: 100%;
    padding: 0;
    margin: 0;
}

nav ul
{
    list-style: none;
    color: white;
    display: inline-flex;
    padding: 0;
    gap: 15px;
}

nav li a
{
    cursor: pointer;
    background-color: #9A5AC6;
    padding: 4px 16px;
    border-radius: 8px;
    color:white;
    text-decoration: none;
}

nav li a:hover {
  background-color: #B881DD;
}