#display
{
    grid-area: display;
    padding: 20px;
    box-sizing: border-box;
    overflow-x: hidden;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-rows: 350px;
    gap: 20px;
    justify-content: start;
}