.grid-container 
{
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: auto 1fr ;
  grid-template-areas:
    "navbar navbar"
    "filter display"
    "footer footer";
  height: 100vh;
}

.navigation
{
    grid-area: navbar;
    position: sticky;
    top: 0;
    z-index: 10;
}

#filters
{
    background-color: #2A2A3D;
    grid-area: filter;
    padding:20px;
}

#display
{
    grid-area: display;
    padding: 20px;
    overflow-y: auto;
    background-color: #C3B7F1;
}

.card 
{
    border: 1px solid #38005e;
    border-radius: 8px;
    margin: 10px;
    display: inline-block;
    text-align: center;
    overflow: hidden;
    background-color: #9988DF;

    perspective: 1000px;
}

.card-inner 
{
  position: relative;
  display: inline-block; /* allow it to size to content */
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.card-inner.flipped 
{
    transform: rotateY(180deg);
}

.card-front, .card-back 
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.card-back 
{
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
}

.card-front.no-image {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  box-sizing: border-box;
}

.name 
{
    color: #E6E6E6;
    font-size: 20px;
    font-weight: bold;
    margin: 7px;

    text-shadow: 0 0 5px #38005e;
}

.img 
{
    width:100%;
    height: auto;
    object-fit:cover;
    border-radius: 8px;
}

.title 
{
    color: #E6E6E6;
    font-size: 15;
    font-weight: bold;
    margin: 10px;

    text-shadow: 0 0 2px #38005e;
}

.card-info
{
  font-size: 15px;
  text-align: left;
  padding: 20px;
}

.modifier-btn-container 
{
    display: flex;
    justify-content: center;
    margin-top: auto;        
    gap: 5px;                
}

.modifier-btn
{
    display: inline-block;
    padding: 5px 15px;
    margin: 5px;
    border-radius: 25px / 25px;
    background-color: #9988DF;
    color: white;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    margin-top: auto;
}

footer
{
  grid-area: footer;
  position: sticky;
  bottom: 0;
  z-index: 10;
}